@font-face {
 font-family: "Gotham-Black";
 src: url("../fonts/GothamBlack.woff2") format("woff2"), 
 url("../fonts/GothamBlack.woff") format("woff");
 font-weight: normal;
  font-style: normal;
}

@font-face{
 font-family: 'Gotham-Bold';
 src: url("../fonts/GothamBold.woff2") format("woff2"),
 url("../fonts/GothamBold.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: 'Gotham-Book';
 src: url("../fonts/GothamBook.woff2") format("woff2"),
 url("../fonts/GothamBook.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: 'Gotham-Light';
 src: url("../fonts/GothamLight.woff2") format("woff2"),
 url("../fonts/GothamLight.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: 'Gotham-Medium';
 src: url("../fonts/GothamMedium.woff2") format("woff2"),
 url("../fonts/GothamMedium.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}