@import 'fonts';

/* Agencements */
*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 transition-property: all;
}

:root {
 --nav-color: #ec526b;
 --background-color-select: #e94662;
 --footer-color: #eeeff3;
 --gray: #717275; 
 --padding-t: 50px;
 --padding-b: 50px;
 --font-s-s-titre: 1.75rem;
 --Medium: 'Gotham-Medium', Sans-serif;
 --Bold: 'Gotham-Bold', Sans-serif;
}

a{
  text-decoration: none;
}

select{
  font-family: var(--Medium);
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}


@mixin padding-t-b-50() {
  padding-top: 50px;
  padding-bottom: 50px;
}

@mixin padding-l-r-20() {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@mixin margin-b-30() {
 margin-bottom: 30px;
}

/* Menu de navigation */
nav{
 background-color: var(--nav-color);
 color: white;
 img{
   max-height: 41px;
   border-radius: 3px;
 }
}

.nav-menu {
  display: flex;
  height: 70px;
  justify-content: space-between;

  a {
    color: #FFFFFF;
  }


  .logo-desk-enaparte {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    font-family: var(--Medium);
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    line-height: 4;
    width: 60%;
    font-size: 1.079rem;

    li:first-child {
      text-decoration: underline;
    }
  }


  .nav-link>li>a {
    color: white;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

  .account {
    text-align: center;
    border-left-width: solid white 2px;
    border-left-style: solid;
    padding-left: 13px;
    font-family: 'Gotham-Light';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.83rem;
    
    .account-name {
      font-weight: bold;
      font-family: var(--Medium);
    }
  }

}

.nav-menu-mobile{
 display: flex;
 justify-content: space-around;
 text-transform: uppercase; 
 padding-top: 6px;
 padding-bottom: 6px;
 
 a{
   font-family: 'Gotham-Book';
   color: white;
 }
}

.menu-mob,.menu-user{
 padding: 0.4rem;
 border: solid #FFFFFF 1px;
 border-radius: 3px;
}

/* Phrase d'accroche et historique d'Apart'City */
.accroche {
 padding-top: 35px;
 padding-bottom: 30px;
 background-color: var(--footer-color);

 h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Gotham-Medium";
  margin-bottom: 20px;
  color: #4b4b4b;
  font-size: 2.158rem;
 }
}

.s-titre {
 color: #696a6d;
 font-size: 1.494rem;
 text-transform: uppercase;
 font-family: var(--Bold);
}

.key-dates {
 display: flex;
 justify-content: space-around;

 .date {
   text-align: center;
   color: #4b4b4b;
 
   p:first-child {
     color: var(--nav-color);
     font-weight: bold;
     font-size: 1.25rem;
     font-family: var(--Bold);
   }
 
   p:nth-child(2){
     font-family: 'Gotham-Book';
     font-size: 1.162rem;
   }
 }
}



.timeline{
  height: 3px;
  background-color: #ec526b;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  
  .circle{
    width: 1.875rem;
    height: 1.875rem;
    border: solid #ec526b 2px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
    top: -12px;
  }
  
  .circle-1{
    left: -20px;
  }
  
  .circle-2{
    left: -75px;
  }
  
  .circle-3{
    left: -45px;
  }


  //Le code CSS de la flèche
  .arrow-horizontal {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 20px solid #ec526b;
    position: absolute;
    top: -15px;
    right: -5px;
}
}

.timeline-mobile{
  height: 3px;
  width: 138px;
  background-color: #ec526b;
  transform: rotate(90deg);
  display: flex;
  position: absolute;
  justify-content: space-between;
  
  .circle-mobile{
    width: 1.875rem;
    height: 1.875rem;
    border: solid #ec526b 2px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
    top: -12px;
  }
}

/* Rubrique "Notre groupe" */
.com {
 display: flex;
 color: #4b4b4b;
}

.com-photo {
  width: 50%;
  
  img {
    max-width: 100%;
    height: auto;
  }
}

.com-reverse {
  display: flex;
  flex-direction: row-reverse;
  color: #4b4b4b;
}

.com-txt {
 width: 50%;
 font-family: 'Gotham-Book';
 font-size: 0.9375rem;
 
 p:first-child {
   text-transform: uppercase;
   font-size: 2.125rem;
   font-family: var(--Medium);
  }
}

/* Quelques chiffres */
.few-digits {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: var(--footer-color);
}

.key-digits {
  display: flex;
  justify-content: space-around;

  .key1, .key2{
    display: flex;
    width: 50%;
    justify-content: space-around;
  }

  .digit {
    text-align: center;
    color: #4b4b4b;
    font-size: 1.162rem;
    font-family: 'Gotham-Book';
  
    p:first-child {
      color: var(--nav-color);
      font-family: var(--Bold);
      font-size: 2.49rem;
    }
  }
}

/* Notre marque */
.com-txt-reverse {
  width: 50%;
  padding-right: 1rem;
  font-family: 'Gotham-Book';
  font-size: 0.9375rem;
  
  p:first-child {
    text-transform: uppercase;
    color: #4b4b4b;
    font-size: 2.125rem;
    font-family: var(--Medium);
  }
}

/* Nos gammes */ 
.our-ranges {
  background-color: var(--nav-color);
  color: #FFFFFF;
  font-family: 'Gotham-Book';
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p:first-child {
    text-transform: uppercase;
    font-size: 2.125rem;
    font-family: var(--Medium);
  }

  .txt{
    font-size: 1.125rem;
  }
}

.container-card {
 display: flex;
}

.range-card {
 text-align: center;
 font-size: 1.162rem;

 .range-card-title {
  font-weight: bold;
  font-size: 2.158rem;
  font-family: var(--Medium);
  text-transform: uppercase;
  padding-bottom: 25px;
 }

 .range-card-s-title{
   font-family: 'Gotham-Bold';
 }
}


/*Nos résidences*/ 
.residences {
  
  p:first-child {
  text-transform: uppercase;
  color: #4b4b4b;
  font-size: 2.125rem;
  font-family: var(--Medium);
 }
}

/*Contact*/ 
.upper-part{
 display: flex;
 justify-content: space-between;
 padding-top: 35px;
 padding-bottom: 35px;
}

.contact-card{
 text-align: center;
 font-size: 0.875rem;
 font-family: 'Gotham-Book';
 color: #666666;
 font-size: 1.079rem;
 
 select{
   width: 100%;
   text-transform: uppercase;
   height: 2rem;
   font-family: var(--Medium);
   color: #666666;
   font-size: 1.079rem;
 }

 p:first-child{
  text-transform: uppercase;
  font-size: 1.162rem;
  font-family: var(--Medium);
 }

 a{
   color: #666666;
 }
}

.lower-part{
 background-color: var(--footer-color);
}

.middle{
 padding-top: 24px;
 padding-bottom: 54px;
}

.fab-logo{
  font-size: 4rem;
  margin-right: 1rem;
  color: var(--nav-color);
}

.end{
 display: flex;
 justify-content: space-between;

 select{
   height: 2rem;
 }

 .footer-list{
  list-style: none;
  color: #696a6d;
  font-family: 'Gotham-Book';
  font-size: 1.079rem;

  li{
    a{
      color: #696a6d;
    }

    &:hover{
      text-decoration: underline;
    }
  }

  li:first-child{
   font-weight: bold;
   margin-bottom: 1rem;
   text-decoration: none;
   font-family: var(--Medium)
  }
 }

}



// Media queries >= 1500px
@media(min-width: 1500px) {
  .nav-menu,
  .accroche,
  .com,
  .com-reverse,
 .few-digits,
 .our-ranges,
 .upper-part,
 .lower-part {
   padding-left: 300px;
   padding-right: 300px;
  }
  
  .residences {
    p:first-child {
      margin-left: 300px;
    }
  }
  
   .nav-menu-mobile{
    display: none;
   }

}

@media(min-width: 1200px) and (max-width: 1500px){
  .nav-menu,
  .accroche,
  .com,
  .com-reverse,
 .few-digits,
 .our-ranges,
 .upper-part,
 .lower-part {
   padding-left: 150px;
   padding-right: 150px;
  }
  
  .residences {
    p:first-child {
      margin-left: 150px;
    }
  }
  
   .nav-menu-mobile{
    display: none;
   }
}

@media(max-width:1200px){
  // On cache la version responsive de la navbar
  .nav-menu{
    display: none;
  }
}


@media(min-width: 700px) {

  .accroche {
    padding-bottom: 57px;
    padding-top: 56px;
  }   

  .timeline-mobile{
    display: none;
  }

  .m-26{
    margin-bottom: 1.625rem;
  }
  
  .com-txt{  
    padding-left: 1rem;
  }

  .com,
  .com-reverse,
  .our-brand {
    @include padding-t-b-50();
  }
  
  .s-titre {
    @include margin-b-30();
  }

  .our-ranges{
    padding-top: 35px;
    padding-bottom: 35px;

    p:first-child{
      margin-bottom: 1rem;
    }

    .txt{
      margin-bottom: 2.188rem;
    }
  }

  .range-card{ 
   padding: 15px;
  }

  .container-select {
    width: 20%;
   }

   .lang {
    width: 100%;
    background-color: #eeeff3;
    font-weight: bold;
    color: #696a7d;
   }
      
   .residences {
    p:first-child {
      margin-bottom: 18px;
      padding-top: 35px;
    }

    #js-mapid {
      height: 596px;
     }
  }

 .upper-part{
  height: 258px;
  align-items: center;
  }

  .lower-part{
    height: 478px;
  }

  
}

@media(min-width:700px) and (max-width:1200px){
  .accroche,
  .com,
  .few-digits,
  .com-reverse,
  .our-ranges,
  .upper-part,
  .lower-part {
    @include padding-l-r-20()
  }
  
  .residences {
    p:first-child {
    margin-left: 1.25rem;
    }
  }
}


// Les containers se mettent en colonne
@media(max-width: 700px){

  .nav-menu-mobile{
    justify-content: space-between;
  }

  .accroche{
    h1{
      font-size: 1.826rem;
    }
  }

  .timeline{
    display: none;
  }

 .com-photo {
  width: 100%;
 }

 .com-txt {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2.188rem;

  p:first-child{
    margin-bottom: 1.563rem;
  }
 }

 .com,
 .com-reverse,
 .container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: column;
 }

 .key-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 3.125rem;

  .date{
    text-align: start;
  }

  .timeline-mobile{
    left: -35px;
  }
 }

 .com-txt-reverse {
  width: 100%;
  padding-top: 1.875rem;
  padding-bottom: 1.25rem;

  p:first-child{
    padding-bottom: 1.688rem;
  }
 }

 .key-digits {
   flex-direction: column;

  .key1, .key2{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .digit {
    font-size: 1.036rem;
  
    p:first-child {
      font-size: 1.162rem;
    }
  }
}

 .our-ranges{
  padding-top: 1.125rem;

  p:first-child{
    margin-bottom: 1.125rem;
  }

  .txt{
    font-size: 0.913rem;
  }

  .range-card:nth-child(1) {
    margin-bottom: 1.438rem;
   }
   
  
  .range-card > p:nth-child(4) {
    font-size: 0.913rem;
    text-align: start;
   }

   .range-card-title{
    font-size: 1.909rem;
   }

   .range-card-s-title{
     text-align: start;
   }
   
  .range-card .range-card-s-title {
    font-size: 0.913rem;
  }

  .container-card{
    padding-top: 23px;
    padding-bottom: 38px;
   }
  
 }

 .upper-part{
  flex-direction: column;
  padding-bottom: 0px;

  .contact-card{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  select{
   text-align: center;
   width: 90%;
   border: solid #8d8e91 1px;
  }
 }

 .contact-card{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: #eeeff3 solid 1px;
 }

 div.contact-card:nth-child(3) {
  border-bottom: #eeeff3 solid 1px;
 }

 #js-mapid{
   height: 263px;
 }

 .middle{
  display: none;
 }

 .lower-part{
  padding-top: 0;
 }

 .end{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
 } 

 .container-select {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-select);
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
  
  select{
    text-align: center;
    width: 90%;
    text-transform: uppercase;
    border: solid 1px #f4a3b1;
    background-color: var(--background-color-select);
    color: #FFFFFF;
   }
 }

 .end .footer-list {
  list-style: none;
  color: #696a6d;
  padding-left: 20px;
 }

 // Cette classe permet aux éléments ciblés d'avoir des marges internes de 16 pixels

 .s-titre{
   @include padding-l-r-20();
 }

 .hide-list{
   display: none;
 }

 
 .central-list{
  padding-top: 26px;
  height: 217px;
 }

 .pad-mob-h-20,.nav-menu-mobile{
   padding-left: 1.25rem;
   padding-right: 1.25rem;
 }

 .residences{
   p{
     padding-top: 1.875rem;
     padding-bottom: 0.873rem;
   }
 }
 
}